body {
	background: #212121;
	height: 100vh;
	width: 100vw;
}

h1,
h4 {
	color: #fff;
	font-family: sans-serif;
	left: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
	opacity: 0;
	position: absolute;
}

h4 {
	top: 60%;
}

h1 span,
h4 span {
	transition: all 1s ease-in-out;
	display: inline-block;
	position: relative;
}